<%= form_for(@user) do |f| %>
  <%= render 'shared/error', object: f.object %>
  <div align="center">  
  <div class="field">
    <%= f.label :Username %>
	<%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :Password %>
	<%= f.password_field :password %> 
  </div>
  <div class="field">
    <%= f.label :Confirm_Password %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :fullname %>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm" , class: "btn btn-large btn-primary"%>
  </div>
</div>
<% end %>

