<% provide(:title, @user.username) %>
<div class="row">
  <aside>  
  <section>	
	  <%= gravatar_for @user %>
  </section> 

  </aside>
  <section>
    <p>Username: <%=@user.username%></p>
    <p>Fullname: <%=@user.fullname%></p>
    <p>Email: <%=@user.email%></p>	
  </section
  <div class="span8">
    <% if @entries.any? %>
      <h3>Entries (<%= @entries.count %>)</h3>
      <ol class="entries">
        <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    <% end %>
  </div>
</div>

